@page "/auth/request-reset-password"
@using Microsoft.AspNetCore.Identity.Data
@using NexoRecruiter.Application.DTOs.Auth
@using NexoRecruiter.Application.Services.Auth
@using NexoRecruiter.Domain.Repositories.Auth
@using NexoRecruiter.Web.Features.Auth.Layouts.AuthLayout
@using NexoRecruiter.Web.Features.Auth.ViewModels
@inject IUserService userManager
@inject ISnackbar Snackbar
@inject NavigationManager navigationManager
@attribute [AllowAnonymous]
@layout AuthLayout

<MudPaper Class="nexo-reset-password">
    <MudContainer Class="nexo-reset-password__login-card">
        <MudImage Class="nexo-reset-password__icon" Src="@Assets["images/logo-login.png"]"></MudImage>
        <MudPaper Elevation="0" Class="nexo-reset-password__text">
            <MudText Class="nexo-reset-password__text-title" Typo="Typo.h5" Align="Align.Center">Forgot password?
            </MudText>
            <MudText Typo="Typo.caption" Align="Align.Center">Enter your email address to get the password reset link
            </MudText>
        </MudPaper>
        <EditForm Model=recoveryPasswordDTO OnValidSubmit=Submit Class="d-flex flex-column gap-5">
            <DataAnnotationsValidator />
            <div>
                <MudText Class="nexo-reset-password__card-label">Email</MudText>
                <MudTextField Class="nexo-reset-password__input" @bind-Value="recoveryPasswordDTO.Email"
                              Variant="Variant.Outlined" Placeholder="JonhDoe@gmail.com" InputType="InputType.Email"
                              For="@(() => recoveryPasswordDTO.Email)" />
            </div>

            <MudButton Class="nexo-reset-password__button" Variant="Variant.Filled" Color="Color.Primary" Disabled="@IsLoading"
                       ButtonType="ButtonType.Submit">
                Password Reset
            </MudButton>
            <MudLink Href='@AppRoutes.Login' Disabled="@IsLoading" Class="nexo-reset-password__button-back" Color="@(IsLoading ? Color.Default : Color.Primary)">
                Back to login
            </MudLink>
        </EditForm>
    </MudContainer>
</MudPaper>
